body{
	padding-top : 25px;
	background-color : #D6EAF8;
}
.d1{
	width : 100%;
	text-align : center;
}
.login-form{
	padding-bottom : 25px;
	padding-top : 25px;
	display : inline-block;
}
.ip{
	width : 435px;
	height : 40px;
	font-size : 18pt;
}
.reg{
	background-color : #3498DB;
	width : 300px;
	font-size : 32px;
	height : 55px;
	color : #fff;
}
.reg:hover{
	color : #fff;
	background-color : #1B4F72;
}
.para{
	color : #17202A;
	font-size : 15pt;
	text-align : left;
}
